/*Navigation Bar*/

ul.navbar-nav {
    flex: end;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}



/*Main Body*/

.Background {
    background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
}

/*Footer*/

footer {
    position: sticky;
    text-align: center;
}