/*Navigation Bar*/


.navbar {
    font-family: 'Courier New', Courier, monospace;
    
}


.col-6 {
    align-content: center;
}

/*Main Body*/

.Background {
    background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 30px auto 30px 0px;
}

.rotate180 {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: auto;
}

span img {
    width: 200px;
}

.MainBlock {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}


p {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0 0 0 ;
}

/*Footer*/
